*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.7%;
}

.body {
  height: 100vh;
  width: 100vw;
  /* background-image: linear-gradient(
    135deg,
    hsl(0, 80%, 86%) 0%,
    hsl(0, 74%, 74%) 100%
  ); */
  /* font-size: 1.6rem; */

  font-family: 'Josefin Sans', sans-serif;
}
.body__wrapper {
  display: grid;
  grid-template-columns: 4fr 3fr;

  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  width: 100vw;
}

.image {
  background: url('images/hero-desktop.jpg');
  background-size: cover;
  width: auto;
  grid-column: 2 / span 1;
  grid-row: 1 / span 4;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.header {
  margin: 5% 15%;
}
.header > img {
  width: 30%;
}

.main {
  grid-column: 1 / span 1;
  grid-row: 2 / span 5;
  display: flex;
  flex-direction: column;

  width: 70%;
  margin: 0 auto;
}
.main__header {
  font-size: 10rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
  text-transform: uppercase;
  letter-spacing: 2rem;
}
.header_light {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

.coming__soon {
  font-size: 8rem;
  font-weight: 600;
}

.main__body {
  font-size: 2rem;
  width: 70%;
  line-height: 1.4;
  color: hsl(0, 36%, 70%);
}

.form {
  margin-top: 3rem;
  display: flex;
}

.input__error {
  position: relative;
  width: 90%;
  display: flex;
}

.input__error::after {
  content: '';
  position: absolute;
  top: 30%;
  left: 60%;
  display: inline-block;
  opacity: 0;
  width: 4rem;
  height: 4rem;
  background: url('images/icon-error.svg');
  background-repeat: no-repeat;
}
.email {
  padding: 1rem 2rem;

  height: 7rem;
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 100px;
  width: 70%;
  transition: all 0.4s;
}
.email:focus {
  outline: none;
  width: 80%;
}
.submit {
  border: none;
  width: 10rem;
  height: 7rem;
  background: linear-gradient(
    135deg,
    hsl(0, 80%, 86%) 0%,
    hsl(0, 74%, 74%) 100%
  );
  margin-left: -8rem;
  border-radius: 200px;
  z-index: 10;
  transition: all 0.3s;
}
.submit:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.submit:focus {
  outline: none;
}

.adder {
  opacity: 1;
}

footer {
  margin-top: 15rem;
  margin-left: 10rem;
  font-size: 1.6rem;
}

@media only screen and (max-width: 1000px) {
  .body__wrapper {
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr auto; */
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-columns: 1fr;

    width: 100vw;
    height: 96vh;
  }
  .image {
    background: url('images/hero-mobile.jpg');
    /*  */
    /* background-color: red; */
    grid-row: 2 / span 3;
    grid-column: 1/1;
    background-repeat: no-repeat;
    background-size: auto;

    /* width: 60rem; */
    /* justify-self: center; */
  }
  .main {
    /* grid-row: 5 / span 3; */
    display: flex;
    flex-direction: column;
    grid-row: 6 /8;
  }
  .header {
    margin-top: 4rem;
    grid-row: 1/2;
  }
}
